@-webkit-keyframes load_spinner_background {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes load_spinner_background {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes load_spinner_block {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes load_spinner_block {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes load_spinner_bar {
  from {
    color: #FF79DA;
  }
  to {
    color: #9356DC;
  }
}
@keyframes load_spinner_bar {
  from {
    color: #FF79DA;
  }
  to {
    color: #9356DC;
  }
}
@-webkit-keyframes menu {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
  margin: 0;
}

.block_page {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
}

.button {
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 40px;
  background: linear-gradient(175deg, #FF79DA 0, #9356DC 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 400ms;
}
.button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
}
.header div {
  width: 95%;
  margin: 1% 0 1% 0;
  padding-left: 37%;
}
.header div img {
  height: 50px;
  width: 20%;
}
.header nav {
  width: 5%;
  text-align: center;
}

h1 {
  margin-bottom: 2%;
}

@media all and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .header div {
    width: 85%;
    padding-left: 10%;
  }
  .header div img {
    height: 30px;
    width: 60%;
  }
  .header nav {
    width: 15%;
  }
}
.block_img_title {
  position: relative;
}

.background_img {
  width: 100%;
  height: 400px;
}
.background_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.h1_heart {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0.1%;
  background-color: #f3f3f3;
  z-index: 1;
  border-radius: 50px 50px 0 0;
}

.h1 {
  width: 50%;
  text-align: right;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
}

.heart {
  width: 20%;
  display: flex;
  padding-left: 2%;
}

.heart_position {
  top: 30%;
}

section {
  margin-bottom: 2%;
  padding: 0 2% 0 2%;
  border: none;
  background-color: #f3f3f3;
}

.section_title {
  font-size: 130%;
  font-weight: 100;
  margin: 0;
}

.underline {
  width: 4%;
  margin-bottom: 1%;
  border: 1px solid #99E2D0;
}

.menu__entree_note--1 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu__entree_note--1 .menu_dish_accompaniment {
  width: 95%;
}
.menu__entree_note--1 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__entree_note--1 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__entree_note--2 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu__entree_note--2 .menu_dish_accompaniment {
  width: 95%;
}
.menu__entree_note--2 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__entree_note--2 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__entree_note--3 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.menu__entree_note--3 .menu_dish_accompaniment {
  width: 95%;
}
.menu__entree_note--3 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__entree_note--3 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__entree_note--4 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.menu__entree_note--4 .menu_dish_accompaniment {
  width: 95%;
}
.menu__entree_note--4 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__entree_note--4 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats--1 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu__plats--1 .menu_dish_accompaniment {
  width: 95%;
}
.menu__plats--1 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__plats--1 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats--2 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu__plats--2 .menu_dish_accompaniment {
  width: 95%;
}
.menu__plats--2 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__plats--2 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats--3 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.menu__plats--3 .menu_dish_accompaniment {
  width: 95%;
}
.menu__plats--3 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__plats--3 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__desserts--1 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu__desserts--1 .menu_dish_accompaniment {
  width: 95%;
}
.menu__desserts--1 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__desserts--1 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__desserts--2 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu__desserts--2 .menu_dish_accompaniment {
  width: 95%;
}
.menu__desserts--2 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__desserts--2 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__desserts--3 {
  height: 70px;
  display: flex;
  position: relative;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-animation: menu 3000ms;
          animation: menu 3000ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.menu__desserts--3 .menu_dish_accompaniment {
  width: 95%;
}
.menu__desserts--3 .menu_dish_accompaniment h3 {
  margin: 1% 0 0 0;
}
.menu__desserts--3 .menu_dish_accompaniment p {
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu:hover .anim_validation {
  width: 5%;
  opacity: 1;
}
.menu:hover .anim_validation .block_check i {
  transform: rotate(0deg);
}
.menu:hover span {
  transform: translateX(-60px);
}
.menu span {
  position: absolute;
  bottom: 20%;
  right: 1%;
  transform: translateX(0);
  transition: transform 450ms;
}

.anim_validation {
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  opacity: 0;
  transition: width 450ms;
}

.block_check {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
}
.block_check i {
  transform: rotate(-360deg);
  transition: transform 450ms;
}

.button_position {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 767px) {
  .background_img {
    height: 290px;
  }
  .h1_heart {
    border-radius: 30px 30px 0 0;
  }
  .h1 {
    width: 70%;
    font-size: 1.5em;
    text-align: center;
  }
  .heart_position {
    top: 45%;
  }
  .menu:hover p {
    width: 75%;
  }
  .menu:hover .anim_validation {
    width: 15%;
  }
}
footer {
  padding: 1% 4% 3% 3%;
  background-color: #333333;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  color: white;
}
footer ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
footer ul a {
  color: white;
}
footer ul a div {
  margin-right: 5%;
}

.footer_icon_subtitle {
  display: flex;
  width: 200px;
}

@media all and (max-width: 767px) {
  footer {
    padding: 2% 0 7% 7%;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    margin-bottom: 2%;
  }
  footer ul li div {
    width: 20px;
    height: 20px;
  }
}
.load_spinner {
  visibility: hidden;
  width: 100vh;
  height: 100vh;
  background-color: blue;
  position: fixed;
  -webkit-animation: load_spinner_block 3000ms;
          animation: load_spinner_block 3000ms;
}
.load_spinner__bar {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}
.load_spinner__bar .letters--1 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}
.load_spinner__bar .letters--2 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.load_spinner__bar .letters--3 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 1125ms;
          animation-delay: 1125ms;
}
.load_spinner__bar .letters--4 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.load_spinner__bar .letters--5 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 1875ms;
          animation-delay: 1875ms;
}
.load_spinner__bar .letters--6 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.load_spinner__bar .letters--7 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 2625ms;
          animation-delay: 2625ms;
}
.load_spinner__bar .letters--8 {
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: load_spinner_bar 3000ms infinite;
          animation: load_spinner_bar 3000ms infinite;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.index_header {
  text-align: center;
  -webkit-animation: load_spinner_background 3000ms;
          animation: load_spinner_background 3000ms;
}
.index_header div img {
  height: 30px;
  width: 10%;
}

.block_icon_search_input {
  display: inline-block;
  width: 22%;
  padding-left: 4%;
  border: 1px solid black;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.search_input {
  height: 40px;
  border: none;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.block_explore {
  margin: 4%;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .index_header div img {
    width: 15%;
  }
  .block_icon_search_input {
    width: 30%;
  }
}
@media all and (max-width: 767px) {
  .index_header {
    margin-bottom: 25%;
  }
  .index_header div img {
    width: 35%;
  }
  .block_icon_search_input {
    width: 100%;
    padding-left: 4%;
    border: none;
  }
  .block_icon_search_input i {
    margin: 2%;
  }
}
.index_nav {
  padding: 0 2% 0 2%;
  margin-bottom: 5%;
  -webkit-animation: load_spinner_background 3000ms;
          animation: load_spinner_background 3000ms;
}
.index_nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
}
.index_nav ul li {
  position: relative;
  width: 260px;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
.index_nav ul li:hover {
  background-color: #f2eafb;
}
.index_nav ul li:hover i {
  color: #9356DC;
}
.index_nav ul li i {
  color: grey;
}

.list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 96%;
  bottom: 33%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}

.index_nav_icon_title {
  display: flex;
}
.index_nav_icon_title div {
  width: 2%;
  margin-right: 10%;
}
.index_nav_icon_title span {
  font-weight: bold;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .index_nav {
    margin-bottom: 10%;
  }
  .index_nav ul {
    flex-wrap: wrap;
    padding-left: 1.5%;
  }
  .list_number {
    bottom: 27%;
  }
}
@media all and (max-width: 767px) {
  .index_nav {
    margin-bottom: 20%;
    padding: 0 5% 0 5%;
  }
  .index_nav ul {
    flex-direction: column;
    padding-left: 4%;
  }
  .index_nav ul li {
    width: 100%;
    padding: 5%;
    margin-bottom: 7%;
    border-radius: 20px;
  }
  .list_number {
    right: 97%;
    bottom: 25%;
  }
  .index_nav_icon_title div {
    margin-left: 5%;
  }
}
.index_main {
  padding: 0 2% 0 2%;
  margin-bottom: 5%;
  -webkit-animation: load_spinner_background 3000ms;
          animation: load_spinner_background 3000ms;
}
.index_main a {
  color: black;
}

.index_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.restaurant_card {
  border-radius: 11px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.restaurant_card__block_img {
  position: relative;
}
.restaurant_card__block_img img {
  width: 100%;
  height: 160px;
  border-radius: 11px 11px 0 0;
}
.restaurant_card__block_img span {
  position: absolute;
  padding: 2%;
  border-radius: 2px;
  top: 10%;
  right: 5%;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant_card__content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.restaurant_card__content h4 {
  margin: 10% 0 0 10%;
}
.restaurant_card__content span {
  display: inline-block;
  margin: 0 0 10% 10%;
}

.content_heart {
  position: relative;
}
.content_heart .fa-heart {
  position: absolute;
  color: black;
  opacity: 1;
  transition: opacity 1000ms;
}
.content_heart .fa-heart:hover {
  opacity: 0;
}
.content_heart .fa-heart:hover + .fa-heart--chosen {
  opacity: 1;
}
.content_heart .fa-heart--chosen {
  position: absolute;
  z-index: -1;
  color: #B060DB;
  /*color: rgb(255,121,218);
  color: linear-gradient(49deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 40%);*/
  opacity: 0;
  transition: opacity 1000ms;
}

.index_heart_position {
  top: 30%;
  right: 10%;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .index_section {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
@media all and (max-width: 767px) {
  .index_main {
    margin-bottom: 17%;
    padding: 0 5% 0 5%;
  }
  .index_section {
    gap: 1em;
  }
  .restaurant_card {
    grid-column: 1/5;
  }
}/*# sourceMappingURL=style.css.map */