* {
  font-family: "Roboto", "Shrikhand", sans-serif;
  list-style-type: none;
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
  margin: 0;
}

.block_page {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
}

.search_button {
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 40px;
  background: linear-gradient(175deg, #FF79DA 0, #9356DC 100%);
}

h1 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 2%;
}

footer {
  background-color: black;
}
footer h4 {
  color: white;
}
footer a {
  color: white;
}

.index_header {
  text-align: center;
}

.search_input {
  height: 40px;
  text-align: center;
  border: none;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.block_explore {
  margin: 4%;
}

.search_button {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 1000ms;
}
.search_button:hover {
  opacity: 0.8;
}

@media all and (max-width: 767px) {
  .search_input {
    width: 100%;
  }
}
.index_nav ul li {
  position: relative;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
.index_nav ul li:hover {
  background-color: #f2eafb;
}
.index_nav ul li:hover i {
  color: #9356DC;
}
.index_nav ul li i {
  color: grey;
}

.list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100%;
  bottom: 33%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}

.index_nav_icon_title {
  display: flex;
  align-items: center;
}
.index_nav_icon_title div {
  width: 2%;
  margin-right: 2%;
}
.index_nav_icon_title span {
  font-weight: bold;
}

@media all and (max-width: 767px) {
  .index_nav ul li {
    right: 7%;
    padding: 5%;
    margin-bottom: 7%;
    border-radius: 20px;
  }
  .list_number {
    right: 97%;
    bottom: 25%;
  }
  .index_nav_icon_title div {
    margin-left: 5%;
    margin-right: 10%;
  }
}
.index_main a {
  color: black;
}

.index_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.restaurant_card {
  border-radius: 11px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.restaurant_card__block_img {
  position: relative;
}
.restaurant_card__block_img img {
  width: 100%;
  height: 160px;
  border-radius: 11px 11px 0 0;
  z-index: -1;
}
.restaurant_card__block_img span {
  position: absolute;
  padding: 2%;
  border-radius: 2px;
  z-index: 1;
  top: 10%;
  right: 5%;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant_card__content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.restaurant_card__content h4 {
  margin: 10% 0 0 10%;
}
.restaurant_card__content span {
  display: inline-block;
  margin: 0 0 10% 10%;
}

.content_heart {
  position: relative;
}
.content_heart .fa-heart {
  position: absolute;
  top: 30%;
  right: 10%;
  color: black;
  z-index: 1;
  opacity: 1;
  transition: opacity 1000ms;
}
.content_heart .fa-heart:hover {
  opacity: 0;
}
.content_heart .fa-heart:hover + .fa-heart--chosen {
  opacity: 1;
}
.content_heart .fa-heart--chosen {
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: -1;
  color: #B060DB;
  /*color: rgb(255,121,218);
  color: linear-gradient(49deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 40%);*/
  opacity: 0;
  transition: opacity 1000ms;
}

@media all and (max-width: 767px) {
  .restaurant_card {
    grid-column: 1/5;
  }
}/*# sourceMappingURL=style.css.map */