* {
    font-family: "Roboto", "Shrikhand", sans-serif;
    list-style-type: none;
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

.block_page {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}