.index_header {
    text-align: center;
    margin-bottom: 10%;
}

.block_icon_search_input {
    display: inline-block;
    width: 20%;
    padding-left: 4%;
    border: 1px solid $dark_color;
    background-color: lighten($gloomy_color,40%);
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.search_input {
    height: 40px;
    border: none;
    background-color: lighten($gloomy_color,40%);
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.block_explore {
    margin: 4%;
}

@media all and (max-width:767px) {

    .index_header {
        margin-bottom: 25%;
    }

    .block_icon_search_input {
        width: 100%;
        padding-left: 4%;
        border: none;
        i {
            margin: 2%;
        }
    }
}

