.index_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.restaurant_card {
    border-radius: 11px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    &__block_img {
        position: relative;
        img {
            width: 100%;
            height: 160px;
            border-radius: 11px 11px 0 0;
            z-index: -1;
        }
        span {
            position: absolute;
            padding: 2%;
            border-radius: 2px;
            z-index: 1;
            @include restaurant_new;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        h4 {
            margin: 10% 0 0 10%;
        }
        span {
            display: inline-block;
            margin: 0 0 10% 10%;
        }
    }
}

.content_heart {
    position: relative;
    .fa-heart {
        position: absolute;
        @include heart_position;
        color: black;
        z-index: 1;
        opacity: 1;
        transition: opacity 1000ms;
        &:hover {
            opacity: 0;
        }
        &:hover + .fa-heart--chosen{
            opacity: 1;
        }
    }
    .fa-heart--chosen {
        position: absolute;
        @include heart_position;
        z-index: -1;
        color: #B060DB;
        /*color: rgb(255,121,218);
        color: linear-gradient(49deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 40%);*/
        opacity: 0;
        transition: opacity 1000ms;
    }
}

@media all and (max-width:767px) {

    .restaurant_card {
        grid-column: 1 / 5;
    }
}