.index_nav {
    padding: 0 2% 0 2%;
    margin-bottom: 5%;
    animation: load_spinner_background $anim_dur;
    ul {
        display: flex;
        justify-content: space-between;
        padding-left: 1%;
        li {
            position: relative;
            width: 260px;
            padding: 2%;
            margin-bottom: 2%;
            border-radius: 15px;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
            &:hover {
                background-color: lighten($primary_color,35%);
            }
            &:hover i {
                color: $primary_color;
            }
            i {
                color: $gloomy_color;
            }
        }
    }
}

.list_number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 96%;
    bottom: 33%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: $char_color;
    background-color: $primary_color;
}

.index_nav_icon_title {
    display: flex;
    div {
        width: 2%;
        margin-right: 10%;
    }
    span {
        font-weight: bold;
    }
}

@media all and (min-width:768px) and (max-width:992px) {

    .index_nav {
        margin-bottom: 10%;
        ul {
            flex-wrap: wrap;
            padding-left: 1.5%;
        }
    }
    
    .list_number {
        bottom: 27%;
    }
}

@media all and (max-width:767px) {

    .index_nav {
        margin-bottom: 20%;
        padding: 0 5% 0 5%;
        ul {
            flex-direction: column;
            padding-left: 4%;
            li {
                width: 100%;
                padding: 5%;
                margin-bottom: 7%;
                border-radius: 20px;
            }
        }
    }

    .list_number {
        right: 97%;
        bottom: 25%;
    }

    .index_nav_icon_title {
        div {
            margin-left: 5%;
        }
    }
}