.index_header {
    text-align: center;
}

.search_input {
    height: 40px;
    text-align: center;
    border: 1px solid black;
    background-color: lighten(grey,40%);
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.block_explore {
    margin: 4%;
}

@media all and (max-width:767px) {

    .search_input {
        width: 100%;
        border: none;
    }
}

