.load_spinner {
    visibility: hidden;
    width: 100vh;
    height: 100vh;
    background-color: blue;
    position: fixed;
    animation: load_spinner_block $anim_dur;
    &__bar {
        display: flex;
        justify-content: center;
        font-size: 2.5em;
        .letters {
            @for $i from 1 through 8 {
                &--#{$i} {
                    font-family: "Shrikhand", sans-serif;
                    animation: load_spinner_bar $anim_dur infinite;
                    animation-delay: anim_delay($anim_dur, $i, 8);
                }
            }
        }
    }
}

