@keyframes load_spinner_background {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes load_spinner_block {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes load_spinner_bar {
    from {
        color: $secondary_color;
    }

    to {
        color: $primary_color;
    }
}

@keyframes form_validation {
    from {
        width: 0;
    }

    to {
        width: 5%;
    }
}

@keyframes form_span {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30px);
    }
}