@keyframes load_spinner_background {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes load_spinner_block {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

@keyframes load_spinner_bar {
    from {
        color: $secondary_color;
    }

    to {
        color: $primary_color;
    }
}

@keyframes menu {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}