@mixin button_color($button_color_deg: $button_deg, $button_color_left: $secondary_color, $button_color_right: $primary_color) {
    background: linear-gradient($button_color_deg, $button_color_left 0, $button_color_right 100%);
}

@mixin restaurant_new_color($new_color: $tertiary_color) {
    background-color: $new_color;
    $new_color: darken($new_color,40%);
    color: $new_color;
}