fieldset {
    border: none;
    background-color: lighten($gloomy_color,45%);
}

.underline {
    width: 3%;
    margin-bottom: 1%;
    border: 1px solid $tertiary_color;
}

.menu {
    @for $i from 1 through 4 {
        &--#{$i} {
            height: 50px;
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 1%;
            margin-bottom: 1%;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
            z-index: 1;
            animation: menu $anim_dur;
            animation-delay: anim_delay($anim_dur, $i, 4);
        }
    }
    &:hover .anim_validation {
        width: 5%;
        opacity: 1;
        .form_block_check i {
            transform: rotate(0deg);
        }
    }
    label {
        display: inline-block;
        width: 95%;
    }
    &:hover span {
        transform: translateX(-60px);
    }
    span {
        display: inline-block;
        position: absolute;
        right: 1%;
        transform: translateX(0);
        transition: transform 450ms;
    }
    input {
        opacity: 0;
    }
}

.anim_validation {
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    background-color: $tertiary_color;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    transition: width 450ms;
}

.form_block_check {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $tertiary_color;
    background-color: white;
    border-radius: 50%;
    i {
        transform: rotate(-360deg);
        transition: transform 450ms;
    }
}